{% extends 'layout/base.html.twig' %}

{% block title %}{{ post.first_name ~ ' ' ~ post.last_name }}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <section>
        {% include 'elements/post.html.twig' %}
    </section>
{% endblock %}

{% block javascripts %}{% endblock %}
