{% extends 'layout/base.html.twig' %}

{% block title %}Messages{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <h1>Create Page</h1>
{% endblock %}

{% block javascripts %}{% endblock %}