{% extends 'layout/base.html.twig' %}

{% block title %}Settings{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <h1>Settings of a page</h1>
{% endblock %}

{% block javascripts %}{% endblock %}