{% extends 'layout/base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <section class="row">
        <div class="col-lg-7 newpost-card mx-auto mt-5 animated zoomIn">
            <form action="{{ path("new_post") }}" method="POST" name="new_post_form">
                <textarea class="form-control mb-1" name="postContent" placeholder="Share something ..." required></textarea>
                <button type="submit" class="btn btn-primary btn-block">Share</button>
            </form>
        </div>
        <div id="quote" class="col-lg-5"></div>
    </section>
    <section class="row">
        <div class="col-lg-12 mx-auto">
            {% if posts is defined %}
                {% for post in posts %}
                    {% include 'elements/post.html.twig' %}
                {% endfor %}
            {% else %}
                <h1 class="mx-5 my-5">There are no post's to show!</h1>
                <p style="margin-bottom:500px !important;">Please come back later ...</p>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('javascripts/quote.js') }}"></script>
{% endblock %}