@import url('https://fonts.googleapis.com/css?family=Orbitron:400|Roboto:200,400,500,700');

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100vh;
  width: 100vw;
}

a {
    transition: color 0.3s ease-out;
}

a:hover,
a:active {
    transition: color 0.3s ease;
}

body {
   font-family: 'Roboto', sans-serif;
   font-size: 100%;
   background-color: #FEFEFE;
   color: #101010;
   overflow-x: hidden;
}

@media screen and (max-width: 1000px) {
   #actual-user-name {
       display: none;
   }
   .auth-form {
      margin-top: 2% !important;
      margin-left: 2% !important;
      margin-right: 2% !important;
   }
   .community-row, #quote {
     display: none !important;
   }
   .post {
      margin: 20px 0px 40px 0px !important;
      padding: 20px !important;
   }
   .user-card-profile img {
      width: 200px !important;
   }
   .settings-box {
     margin: 2% 2% 2% 2% !important;
   }
}

.auth-form {
   margin-top: 5%;
   margin-left: 25%;
   margin-right: 25%;
}

header {
   top: 0;
}

header nav {
  box-shadow: 0px 0px 10px #979797;
  padding-left: 20px;
  padding-right: 20px;
}

.m-profile {
   width: 42px !important;
   height: auto !important;
   border-radius: 50%;
   box-shadow: 0px 0px 1px #373737;
   background-color: #FEFEFE;
}

.xs-profile {
   width: 34px !important;
   height: auto !important;
   border-radius: 50%;
   box-shadow: 0px 0px 1px #373737;
   background-color: #FEFEFE;
   transition: width 0.2s ease;
}

.xxs-profile {
   width: 30px !important;
   height: auto !important;
   border-radius: 50%;
   box-shadow: 0px 0px 1px #424242;
   background-color: #FEFEFE;
   transition: width 0.2s ease;
}

.xs-profile:hover,
.xs-profile:active,
.xxs-profile:hover,
.xxs-profile:active {
    width: 42px !important;
    transition: width 0.2s ease-out;
}

.bg-main {
   background-color: rgb(226, 245, 233) !important;
}

header .brand-logo {
   text-decoration: none;
   color: #777777 !important;
   font-family: 'Orbitron', sans-serif;
   font-size: 29px;
}

.nav-icon {
   margin-top: 5px;
   font-size: 22px;
   transition: color 0.7s ease-out;
   color: #909092;
}

.nav-icon:hover,
.nav-icon:active {
   transition: color 0.5s ease;
   color: #373739;
}

header .brand-logo img {
   width: 42px;
   height: auto;
}

.dropdown-toggle:after {
    content: none
}

footer {
    font-size: 14px;
    bottom: 0 !important;
    position: relative;
    width: 100vw;
    background-color: #F4F4F4;
    margin-top: 22%;
    padding: 20px 20px 5px 20px;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin-top: 5px;
}

footer .copy {
    font-size: 12px;
    margin: 10px;
}

/* Home page related styles */

.newpost-card textarea[name="postContent"] {
  box-shadow: 1px 5px 15px #CDCDCD;
}

.feed-icon {
  font-size: 20px;
  transition: color 0.4s ease-out;
  color: #11836D !important;
  text-decoration: none;
}

.feed-icon:hover,
.feed-icon:active {
  text-decoration: none;
  transition: color 0.4s ease;
  color: #85de94 !important;
}

.post {
  font-size: 17px;
  border-radius: 4px;
  margin: 22px 0px 42px 0px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  padding: 20px;
}

.post:nth-child(even) {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.post:nth-child(odd) {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.post-title .uploader {
  font-weight: 700;
  font-size: 18px;
  color: #101010;
}

.post-title .uploader {
  text-decoration: none;
  transition: color 0.4s ease-out;
  color: #101010 !important;
}

.post-title .uploader:hover,
.post-title .uploader:active {
  text-decoration: none;
  transition: color 0.3s ease;
  color: #777777 !important;
}

.post-title .post-time {
  margin-top: 2px;
  display: block !important;
  opacity: 0.7;
  font-size: 11px;
}

.post-content {
  overflow: visible;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-top: 5px;
}

.post-info {
  border-top: 1px solid #DADADA;
  padding-top: 2px;
  width: 100%;
}

.comment-field {
    margin-top: 10px;
}

.comment {
  margin-top: 14px;
}

.comment-content {
  padding: 20px;
  font-size: 16px;
}

.comment-commenter {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: #424242;
}

.comment-commenter:hover {
  text-decoration: none;
  color: #909090;
}

.comment-time {
  opacity: 0.7;
  font-size: 11px;
}

/* User page related styles */

.user-card-profile img {
  border-radius: 50%;
  width: 300px;
  height: auto;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

.user-card-info {
  padding: 10px;
}

.user-card-info .user-name {
  font-size: 44px;
  color: #373737;
  font-family: 'Orbitron', sans-serif;
}

#post-list .post-list-item,
#friend-list .friend-list-item {
  margin-top: 10px;
  padding-bottom: 7px;
  font-size: 20px;
  border-bottom: 1px solid #DCDCDC;
}

#post-list .post-list-item {
  font-size: 19px;
}

#post-list .post-list-item .time {
  opacity: 0.7;
  font-size: 11px;
}

#post-list .post-list-item a,
#friend-list .friend-list-item a {
  text-decoration: none;
  color: #101010;
}

#post-list .post-list-item a:hover,
#post-list .post-list-item a:hover:active,
#friend-list .friend-list-item a:hover,
#friend-list .friend-list-item a:hover:active {
  text-decoration: none;
  color: #505050;
}

.settings-box {
  margin: 2% 15% 2% 15%;
}
