{% extends 'layout/base.html.twig' %}

{% block title %}Cookies{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <section>
        <h1>Cookies Policy</h1>
        <p>
            Last updated: 2018.07.14
            <br><br>
            InConnect ("us", "we", or "our") uses cookies on InConnect (the "Service"). By using the Service, you consent to the use of cookies.
            <br><br>
            Our Cookies Policy explains what cookies are, how we use cookies, how third-parties we may partner with may use cookies on the Service, your choices regarding cookies and further information about cookies.
            <h1 class="h3">What are cookies</h1>
            Cookies are small pieces of text sent by your web browser by a website you visit. A cookie file is stored in your web browser and allows the Service or a third-party to recognize you and make your next visit easier and the Service more useful to you.
            <br><br>
            Cookies can be "persistent" or "session" cookies.
            <h1 class="h3">How InConnect uses cookies</h1>
            When you use and access the Service, we may place a number of cookies files in your web browser.
            <br><br>
            We use cookies for the following purposes: to enable certain functions of the Service, to provide analytics, to store your preferences, to enable advertisements delivery, including behavioral advertising.
            <br><br>
            We use both session and persistent cookies on the Service and we use different types of cookies to run the Service:
            <ul>
                <li>Essential cookies. We may use essential cookies to authenticate users and prevent fraudulent use of user accounts.</li>
            </ul>
            <h1 class="h3">Third-party cookies</h1>
            In addition to our own cookies, we may also use various third-parties cookies to report usage statistics of the Service, deliver advertisements on and through the Service, and so on.
            <h1 class="h3">What are your choices regarding cookies</h1>
            If you'd like to delete cookies or instruct your web browser to delete or refuse cookies, please visit the help pages of your web browser.
            <br><br>
            Please note, however, that if you delete cookies or refuse to accept them, you might not be able to use all of the features we offer, you may not be able to store your preferences, and some of our pages might not display properly.
            <br><br>
            Where can your find more information about cookies
            <br><br>
            You can learn more about cookies and the following third-party websites:
            <br>
            AllAboutCookies: <a href="http://www.allaboutcookies.org/">http://www.allaboutcookies.org/</a>
            <br>
            Network Advertising Initiative: <a href="http://www.networkadvertising.org/">http://www.networkadvertising.org/</a>
        </p>
    </section>
{% endblock %}

{% block javascripts %}{% endblock %}