{% extends 'layout/base.html.twig' %}

{% block title %}Find Friends{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <section>
        <h1>Find Friends</h1>
    </section>
{% endblock %}

{% block javascripts %}{% endblock %}