{% extends 'layout/base.html.twig' %}

{% block title %}Help{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <section>
        <h1>Help</h1>
    </section>
{% endblock %}

{% block javascripts %}{% endblock %}