<div class="row text-center mt-3">
   <div class="col-sm">
      <ul>
         <li><a href="#">About</a></li>
         <li><a href="https://github.com/in-connect/inconnect">Contribute</a></li>
         <li><a href="#">Help</a></li>
      </ul>
   </div>
   <div class="col-sm">
      <ul>
         <li><a href="#">Find Friends</a></li>
         <li><a href="#">Create Page</a></li>
         <li><a href="#">Groups</a></li>
      </ul>
   </div>
   <div class="col-sm">
      <ul>
         <li><a href="#">Privacy</a></li>
         <li><a href="#">Terms</a></li>
         <li><a href="#">Cookies</a></li>
      </ul>
   </div>
</div>
<span class="copy text-muted mb-2">Martin Kondor &copy; 2018 </span>
